.post {
  background-color: var(--color-post);
  border-bottom: 1px solid var(--color-accent);
  overflow: hidden;
  padding-block-end: var(--gutter);
  position: relative;
}

.post:empty {
  min-height: var(--minHeight, 500px);
}

.post.is-lazy {
  opacity: 1;
  transform: translateZ(0);
  transition: opacity 300ms ease-out;
}

@media (prefers-reduced-motion) {
  .post.is-lazy {
    transition: none;
  }
}

.post.is-lazy:empty {
  opacity: 0;
}

.post__info {
  padding-block-start: var(--gutter);
  padding-inline: var(--gutter);
}

.post__subreddit-link {
  display: block;
  font-size: 90%;
  text-decoration: none;
}

@media (min-width: 40em) {
  .post__subreddit-link {
    display: inline;
  }
}

.post__title {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  margin-block-end: var(--gutter);
}

.post__link {
  display: block;
  line-height: 1.3;
  text-decoration: none;
  word-break: break-word;
}

.post__description {
  max-height: 15rem;
  overflow: auto;
  width: 100%;
  word-break: break-word;

  & a {
    word-break: break-all;
  }
}

.post__description pre {
  overflow: auto;
}

.post__data {
  --spacing: 0.25rem;
  font-size: 80%;

  & dt,
  & dd {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  & dt {
    filter: grayscale(100%);
    padding-inline-end: var(--spacing);
  }

  & dd:first-of-type {
    display: block;
    margin-block-end: calc(var(--spacing) * 2);
  }

  & dd:not(:last-child) {
    margin-inline-end: calc(var(--spacing) * 2);
  }
}

@media (prefers-color-scheme: dark) {
  .post__description,
  .post__title {
    filter: grayscale(100%);
  }
}

.post__comments {
  padding-block-start: var(--gutter);

  & a {
    word-break: break-all;
  }
}

.youtube {
  aspect-ratio: var(--ar-width, 16) / var(--ar-height, 9);
  display: block;
  position: relative;
}

.youtube__logo {
  background-color: var(--color-background);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.youtube__thumbnail {
  background-color: var(--color-accent);
  height: 100%;
  object-fit: cover;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .youtube__logo {
    background-color: var(--color-link);
    filter: grayscale(100%);
  }
}

.post-link {
  align-items: center;
  aspect-ratio: 16/9;
  background-color: var(--color-accent);
  display: flex;
  height: auto;
  justify-content: center;
  padding: var(--gutter);
  width: 100%;
  word-break: break-all;
}

@media (prefers-color-scheme: dark) {
  .post-link__logo {
    filter: grayscale(100%);
  }
}

.thumbnail__btn {
  background: none;
  border: 0;
  color: var(--color-background);
  font-size: 5rem;
  height: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (prefers-color-scheme: dark) {
  .thumbnail__btn {
    color: var(--color-text);
  }
}

.gallery {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: 1fr;
}

.post__domain {
  word-break: break-all;
}

.thumbnail-wrap--video {
  aspect-ratio: var(--ar-width) / var(--ar-height);

  & .thumbnail--video,
  & .thumbnail__bg {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  & .thumbnail__bg {
    background-color: var(--color-accent);
  }
}

.thumbnail-wrap--video video {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.audio {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .audio {
    opacity: 0.5;
  }
}

.thumbnail__hd {
  background-color: var(--color-post);
  color: var(--color-text);
  display: block;
  font-size: 0.75rem;
  padding-inline: 0.5em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.post-link__logo {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: 5em;
}

.thumbnail {
  background-color: var(--color-accent);
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.thumbnail-wrap {
  position: relative;
}

.thumbnail__link {
  aspect-ratio: var(--ar-width, 16) / var(--ar-height, 9);
  display: block;
  position: relative;
}

video:-webkit-media-controls-volume-slider {
  display: none;
}

video::-webkit-media-controls-mute-button {
  display: none;
}

video::-webkit-media-controls-volume-slider-container {
  display: none;
}
